@page "/teachers"

<AuthorizeView>
    <Authorized>
        <PageTitle>Сотрудники</PageTitle>

        <RadzenExample ComponentName="Card" Example="CardVariants">
            <CardVariants />
        </RadzenExample>
    </Authorized>
    <NotAuthorized>
        <p>Нужно авторизироваться</p>
    </NotAuthorized>
</AuthorizeView>