@page "/clients"

<PageTitle>Клиенты</PageTitle>

<AuthorizeView>
    <Authorized>
        <RadzenExample ComponentName="Card" Example="ClientConfig">
            <ClientConfig />
        </RadzenExample>
    </Authorized>
    <NotAuthorized>
        <p>Нужно авторизироваться</p>
    </NotAuthorized>
</AuthorizeView>