@page "/calendar"
@rendermode InteractiveServer

<PageTitle>Календарь событий</PageTitle>

<AuthorizeView>
    <Authorized>
        <RadzenExample ComponentName="Scheduler" Example="SchedulerConfig" AdditionalSourceCodePages=@(new [] { "../Models/Appointment.cs", "AddAppointmentPage.razor", "EditAppointmentPage.razor" })>
            <SchedulerConfig />
        </RadzenExample>
        
        <RadzenExample ComponentName="Scheduler" Example="SchedulerPlannerTimeline" AdditionalSourceCodePages=@(new [] { "../Models/Appointment.cs", "AddAppointmentPage.razor", "EditAppointmentPage.razor" })>
            <SchedulerPlannerTimeline />
        </RadzenExample>
        
        <RadzenExample ComponentName="Scheduler" Example="SchedulerTooltips" AdditionalSourceCodePages=@(new [] { "../Models/Appointment.cs" })>
            <SchedulerTooltips />
        </RadzenExample>
    </Authorized>
    <NotAuthorized>
        <p>Нужно авторизироваться</p>
    </NotAuthorized>
</AuthorizeView>
